<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vernal Blog App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="sun outline icon"></i>Vernal Blog</div>
            <a class="item" href="/">Home</a>
            <a class="item" href="/blogs/new">New Post</a>

            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
                <a class="item">Logout</a>
            </div>
        </div>
    </div>